printWidth: 80
tabWidth: 2
useTabs: false
semi: false
singleQuote: true
trailingComma: es5

# Fix to parse markdown with JSX expressions.

# Fix to parse html hugo templates.
plugins:
  - prettier-plugin-go-template
overrides:
  - files: '*.html'
    options:
      parser: go-template
