/* Styling */
p, li {
	text-align: justify;
}

p code, code {
	font-size: small;
	background-color: #f8f8f8;
}

figcaption p {
	font-size: small;
	text-align: center;
}

figure {
	text-align: center;
	margin: 0px;
}

@media (max-width: 480px) {
	img {
			width: 100%;
			height: auto;
	}
}

/* Image hover effect */
figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure:hover img {
  opacity: .9;
}
