name: github-pages

on:
  push:
    branches: [main]

env:
  HUGO_VERSION: '0.154.5' # https://github.com/gohugoio/hugo/releases

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true # Fetch Hugo themes (true or recursive).
          fetch-depth: 0 # Fetch all history for `.gitinfo` and `.lastmod`.

      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ env.HUGO_VERSION }}

      - name: Build website
        run: hugo

      - name: Deploy website
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
